<html>
  <head>
    <title>Space Race</title>
    {% render 'meta-tags'%}
    
    <link rel="stylesheet" href="{{ 'global.css' | asset_url }}" >
    <link rel="stylesheet" href="{{ 'fonts.css' | asset_url }}" crossorigin>
 
    {% comment %} Taken from https://liquid-ajax-cart.js.org/guide/ {% endcomment %}
    <script type="application/json" data-ajax-cart-initial-state >
      {{ cart | json }}
    </script>
    
    <script type="module">
      import '{{ "liquid-ajax-cart-v1.10.1.js" | asset_url }}';
    </script>
    {% comment %} END Liquid Cart code {% endcomment %}
      
  </head>
  <body>
    {{ content_for_header }}
    
    {{ content_for_layout }}
    
    <!-- Floating cart -->
    <div class="my-floating-cart"> {% section 'my-cart' %} </div>

    <script type="module" src="{{ "menu.bundle.js" | asset_url }}"></script>
  </body>
</html>